   <!-- ======= About Section ======= -->
   <section id="about" class="about">

    <div class="container" data-aos="fade-up">
      <div class="row">

        <div class="col-lg-5 col-md-6">
          <div class="about-img" data-aos="fade-right" data-aos-delay="100">
            <img src="img/pogi.jpg" alt="">
          </div>
        </div>

        <div class="col-lg-7 col-md-6">
          <div class="about-content" data-aos="fade-left" data-aos-delay="100">
            <h2>About the website</h2>
            <p>The website provides a comprehensive platform for viewing, managing, and updating appointments across
              hospitals in Luzon, Visayas, and Mindanao. Users can easily access information such as appointment ID,
              status, time queued, queue date, start and end times, appointment type (virtual or face-to-face), and
              the major island where the hospital is located. This detailed view allows users to quickly identify
              their appointments, check for any changes or updates, and plan their schedules accordingly. The
              website's intuitive interface makes it easy to search for appointments based on specific criteria, such
              as hospital name or clinic, enabling users to quickly find the information they need.</p>
            <p>Additionally, the website provides functionality for users to update, delete, and insert new
              appointments, providing flexibility and control over their schedules. This feature is particularly
              useful for managing changes in appointments or adding new appointments as needed. With this
              functionality, users can easily make adjustments to their schedules without the need for additional
              assistance, streamlining the appointment management process. Overall, the website offers a convenient
              and efficient way for users to manage their appointments across hospitals in Luzon, Visayas, and
              Mindanao, enhancing the overall experience of both patients and healthcare providers.</p>

          </div>
        </div>
      </div>
    </div>
</section><!-- End About Section -->