<section id="services" class="services section-bg">
    <div class="container" data-aos="fade-up">

      <header class="section-header">
        <h3>Features</h3>
      </header>

      <div class="row g-5 mb-5">

        <div class="col-md-6 col-lg-4 wow bounceInUp" data-aos="zoom-in" data-aos-delay="100">
          <div class="box">
            <div class="icon" style="background: #fceef3;"><i class="bi bi-plus" style="color: #ff689b;"></i></div>
            <h4 class="title">Add</h4>
            <p class="description">A user is able to add appointments by pressing the top right button in the
              appointment details area</p>
          </div>
        </div>
        <div class="col-md-6 col-lg-4" data-aos="zoom-in" data-aos-delay="200">
          <div class="box">
            <div class="icon" style="background: #fff0da;"><i class="bi bi-x" style="color: #e98e06;"></i></div>
            <h4 class="title">Delete</h4>
            <p class="description">A user is able to delete appointments by pressing the trashbin icon that is seen
              beside the appointment information </p>
          </div>
        </div>

        <div class="col-md-6 col-lg-4" data-aos="zoom-in" data-aos-delay="300">
          <div class="box">
            <div class="icon" style="background: #e6fdfc;"><i class="bi bi-check2" style="color: #3fcdc7;"></i></div>
            <h4 class="title">Update</h4>
            <p class="description">A user is able to update appointments by pressing the pencil icon that is seen
              beside the appointment information and edit the neccessary information</p>
          </div>
        </div>
      </div>

    </div>
  </section><!-- End features Section -->