
  <!-- ======= Footer ======= -->
  <footer id="footer" class="services section-bg">
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>Pogi ko</strong>. All Rights Reserved
      </div>
      <div class="credits">

        Designed by <a href="https://www.facebook.com/Loouudee?mibextid=eQY6cl">The one and only</a>
      </div>
    </div>
  </footer><!-- End  Footer -->

